# Pycharm and Jupyter Notebook
.idea/
.ipynb_checkpoints/
__pycache__

# Python virtual enviroment
venv/
.venv/

# Project settings
.env

# Resources
simplified-CBIS-DDSM/
images/
*.jpeg
*.gif
*.png
*.csv
*.zip
*.pdf

# Not ignore EDA reports
!data_analysis/eda/*.csv
!data_analysis/eda/*.png