# Pycharm and Jupyter Notebook
.idea/
.ipynb_checkpoints/

# Python virtual enviroment
venv/
.venv/

# Project settings
.env

# Resources
simplified-CBIS-DDSM/
images/
*.jpeg
*.gif
*.png
*.csv
*.zip
*.pdf